# Analiza danych – ćwiczenia 1.
### Przygotowanie środowiska Python

##### Autor: Bartosz Czech

---

###### 1. Upewnij się, że korzystasz z Pythona w wersji 3.7:

In [1]:

from platform import python_version
print(python_version())

3.7.3

###### 2. Zaimportuj potrzebne biblioteki:

In [2]:
import tensorflow as tf
print("Moja wersja TensorFlow: " + tf.__version__)

# W przypadku wystąpienia błędów, zaktualizuj bibliotekę NumPy

/Users/czechb3/miniconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/Users/czechb3/miniconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/Users/czechb3/miniconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/Users/czechb3/miniconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/Users/czechb3/miniconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/Users/czechb3/miniconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

Moja wersja TensorFlow: 1.14.0

/Users/czechb3/miniconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/Users/czechb3/miniconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/Users/czechb3/miniconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/Users/czechb3/miniconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/Users/czechb3/miniconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/Users/czechb3/miniconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [3]:
import keras
print("Moja wersja Keras: " + keras.__version__)

Moja wersja Keras: 2.3.1

Using TensorFlow backend.

In [4]:
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import matplotlib as mpl
import pandas as pd

###### 3. Zaimportuj dane:

In [5]:
data = pd.read_csv("../data/logreg.txt", sep = ";")

In [6]:
data.head() # zwraca 5 pierwszych wierszy z pliku

,genotype,QUAL,DP,DP2,GQ,CALL,BEFORE1,BEFORE2,BEFORE3,BEHIND1,BEHIND2,BEHIND3
0,1,87093,74,50.0,63.0,3,C,C,A,A,A,A
1,1,56419,64,9.0,100.0,3,A,G,G,A,C,A
2,1,40180,68,48.0,NaN,2,A,G,G,T,A,A
3,1,33677,57,48.0,3.0,3,C,A,C,G,G,G
4,1,78396,51,50.0,21.0,5,A,A,T,A,A,A

In [7]:
print(data.dtypes)

genotype      int64
QUAL          int64
DP            int64
DP2         float64
GQ          float64
CALL          int64
BEFORE1      object
BEFORE2      object
BEFORE3      object
BEHIND1      object
BEHIND2      object
BEHIND3      object
dtype: object

In [8]:
data.sample(10) # zwraca 10 losowych wierszy z pliku

,genotype,QUAL,DP,DP2,GQ,CALL,BEFORE1,BEFORE2,BEFORE3,BEHIND1,BEHIND2,BEHIND3
2069198,1,80405,53,49.0,18.0,5,G,A,A,T,G,A
1458747,1,75016,68,4.0,31.0,5,G,A,C,T,G,G
216567,1,52231,85,4.0,NaN,2,A,G,G,G,G,G
376808,1,46717,74,4.0,64.0,3,T,C,T,T,A,C
1081693,1,87655,57,47.0,21.0,5,A,G,T,T,G,A
240141,1,6424,73,4.0,31.0,5,C,C,C,A,C,G
442107,1,82863,73,9.0,41.0,5,A,A,A,G,A,G
1334174,1,42717,54,2.0,NaN,2,A,A,T,C,A,T
991446,1,11409,75,39.0,8.0,5,C,T,T,A,T,T
841535,1,45156,63,45.0,NaN,2,C,A,A,T,G,C

In [9]:
data.BEFORE1.value_counts() # zlicza liczbę unikalnych wartości dla pola BEFORE1

A    675363
T    646812
C    502635
G    469341
Name: BEFORE1, dtype: int64

In [10]:
data.describe() # odpowiednik summary() w R; statystyki opisowe dla kolumn typu numerycznego

,genotype,QUAL,DP,DP2,GQ,CALL
count,2.294151e+06,2.294151e+06,2.294151e+06,2.270416e+06,1.729625e+06,2.294151e+06
mean,9.674110e-01,4.618698e+04,6.580229e+01,2.458300e+01,3.951257e+01,3.270535e+00
std,1.775583e-01,2.434921e+04,1.663050e+01,1.972824e+01,3.018805e+01,1.316337e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,1.000000e+00,2.866200e+04,5.600000e+01,4.000000e+00,1.800000e+01,2.000000e+00
50%,1.000000e+00,4.746200e+04,6.500000e+01,2.300000e+01,2.800000e+01,3.000000e+00
75%,1.000000e+00,6.359900e+04,7.500000e+01,4.600000e+01,5.700000e+01,5.000000e+00
max,1.000000e+00,9.177700e+04,1.340000e+02,5.400000e+01,1.000000e+02,7.000000e+00

In [11]:
data.isnull()

,genotype,QUAL,DP,DP2,GQ,CALL,BEFORE1,BEFORE2,BEFORE3,BEHIND1,BEHIND2,BEHIND3
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2294146,False,False,False,False,True,False,False,False,False,False,False,False
2294147,False,False,False,False,True,False,False,False,False,False,False,False
2294148,False,False,False,False,True,False,False,False,False,False,False,False
2294149,False,False,False,False,True,False,False,False,False,False,False,False
2294150,False,False,False,False,True,False,False,False,False,False,False,False

---

**1.** Stwórz ramkę danych zawierającą output metody describe() wraz z liczbą brakujących danych dla każdej kolumny.

**2.** Sprawdź poprawność kolumn BEFORE\* oraz BEHIND\*, tzn. upewnij się, że kolumy zawierają tylko oznaczenia nukleotydów oraz czy formatowanie jest jednolite.